{% extends 'Book/base.html' %} {% block content %}
<h1>Details of {{ book.title }}</h1>
<ul>
	<li><b>Author:</b> {{ book.author }}</li>
	<li><b>Rating:</b> {{ book.rating }} Stars</li>
	<li><b>Sinopsis:</b> {{ book.sinopsis }}</li>
	<li><b>Created:</b> {{ book.created_at }}</li>
	<li><b>Last updated:</b> {{ book.updated_at }}</li>
</ul>
<a href="{% url 'book_edit' pk=book.pk %}" role="button">Edit</a>
<a href="{% url 'book_delete' pk=book.pk %}" role="button">Delete</a>
<br />
<br />
<a href="{% url 'book_list' %}" role="button">Back to list</a>
{% endblock %}
